body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    
}
main {
    background-color: lightblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
footer{
    background-color: cyan;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a{
    color: green;
    text-decoration: none;
    transition: 1s 2s;
    font-size: 20px;
}

a:hover{
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}

a:active{
    color: black;
    opacity: 0.3;
}
/*
a:link{
    color: green
    
}
a:visited{
    color: blueviolet;
}
*/
div.menu{
    border: 5px solid;
    border-radius: 20px;
    width: 300px;
    color: blueviolet;
    margin: 0 auto;
}

div.menu:hover{
    background-color: lightblue;
    box-shadow: 0px 0px 30px;
}